

.formulariosesion{
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    background-color:var(--colorcontenedor);

    width: 55vh;
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 70vh;
    box-shadow: 4px 2px 3px 2px rgba(183, 185, 190, 0.7);

}
.titulosesion{
    color: var(--titulosesion);
}


